  <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">


      <app-siderbar></app-siderbar>
      <app-header></app-header>



      <!-- Page wrapper  -->
      <!-- ============================================================== -->
      <div class="page-wrapper">



        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">

          <app-breadcrums></app-breadcrums>

                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->

                <router-outlet></router-outlet>



            </div>

        </div>
     <!--  End Page wrapper  -->
        <!-- ============================================================== -->

    </div>
